.MuiTableHead-root {
  border-bottom: 1px solid rgba(67, 70, 82, 1) !important;
}

.MuiTableRow-root > .MuiTableCell-root:not(:first-child) {
  padding: 12px 5px 12px 12px;
}

.MuiTableRow-root > .MuiTableCell-root {
  border: 0;
  padding: 12px 5px 12px 0px;
}
