$default-background: #15171e;
$glass-color: rgba(31, 33, 41, 0.1);
$glass-stroke: rgba(88, 88, 88, 0.2);
$blur-10: blur(10px);
$border-radius-10: border-radius(10px);

//colors
$color-lime-accent: rgba(218, 255, 1, 1);
$color-gray-neutral: rgba(174, 174, 174, 1);
$color-gray-dark: rgba(67, 70, 82, 1);
$color-green: rgba(117, 253, 83, 1);
$color-orange: rgba(255, 86, 49, 1);

:export {
  defaultBackground: $default-background;
  glassColor: $glass-color;
  glassStroke: $glass-stroke;
  blur10: $blur-10;
  borderRadius10: $border-radius-10;
  colorLimeAccent: $color-lime-accent;
  colorGrayNeutral: $color-gray-neutral;
  colorGrayDark: $color-gray-dark;
  colorGreen: $color-green;
  colorOrange: $color-orange;
}
