@import '../../styles/variables.scss';

.BorderBottom {
  border-bottom: 1px solid $color-gray-dark;
}
.BaseInfo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.twitterPosts {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 20px 0;
}
