@import '../../styles/variables.scss';
.DefaultAvatar {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background-color: $color-gray-dark;
}

.DefaultAvatarIcon {
  width: 100%;
  height: 100%;
  color: $color-gray-neutral;
}
